/* ==== Major fixes start here ==== */


*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    
}

img{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Inter',sans-serif;
}


/* ==== Major fixes ends here  ==== */

/* ==== first section starts here ==== */

   .firstsection{
    height: 500px; 
    
     display: flex; 

} 
 .firstsection-leftdiv{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    width: 50%;
    height: 100%;
    background: var( --gray-color);

 } 




.logo{
    margin-bottom: 30px;
}
span{
    color:var(--main-color)
}
.line{
    background: var(--main-color);
    padding:4px;
    /* height: 8px; */
    width: 224px;
}

.headingwriteup{
    margin: 30px 0;
}
 
 .firstsection-rightdiv{
     width: 50%;
     height: 100%;

     background:var(--linear-gradient) ,url("./images/image1.jpg");
 
     background-size: cover;
     background-position: bottom left;
     

     
 }

 .link-holder{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    color: var(--whtie-color);
    padding: 20px 0;
}


     
 

/* ==== first section ends here ==== */



/* ==== second section start here ==== */

.secsection{
    /* height: 300px; */
    /* border: var(--black-bolder); */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    /* flex-wrap: wrap; */
    
    
    
}
.secsection-leftdiv{
    height: 400px;
    width: 310px;
    background: var( --gray-color);
    padding: 40px 20px;
    text-align: center;
    
}
.secsection-leftdiv p{
    text-align: left;
    margin: 20px 0;
    
}


.secsection-rightdiv{
    height:460px;
    width: 340px;
    background:var(--main-color) ;
    margin-left: 20px;

}


/* ==== second section ends here ==== */


/* ==== third section start here ==== */
.thirdsection{
 /* border: var( --black-bolder); */
 padding: 30px 0;
 display: flex;
 align-items: center;
 justify-content: center;
 /* flex-wrap: wrap; */
    

}


.thirdsection-leftdiv{
    /* background: var(--gray-color); */
    height: 460px;
    width: 340px;

}

.thirdsection-rightdiv{
    background: var(--main-color);
    height: 460px;
    width: 340px;
    padding: 40px 20px;
    /* text-align: center; */
}

.thirdsection-rightdiv p{
    margin: 20px 0;
    text-align: left;

}


/* ==== third section ends here ==== */


/* ==== footer section start here ==== */

footer{
    color: var(--whtie-color);
    background: var(--main-color);
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footericons-container{
    /* height: 100px; */
    /* border: 3px solid black; */
    width: 200px;
    text-align: center;
}

.footericons{
    font-size: 25px;
    margin: 0 5px;
    
}
/* ==== footer section ends here ==== */


